/*Formatting for page name at the top of page*/
header{
    font-weight: 700;
    text-align: center;
    font-size: 36px;
}
/*Styling for Subheader on the page*/
#PageSubheader{
    border-bottom: solid grey;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 30px;
    font-size: 36px;
}
/*Styling for the password output box */
#PasswordBox{
    border: 5px dashed grey;
    font-size: 24px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    max-width: 90%;
    height: 300px;
}
/*Styling for button */
#ButtonRow{
    margin-top: 30px;
}